<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ITCR Proyectos VIE</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/bundles/bootstrapCSS")
    @Scripts.Render("~/bundles/modernizr")

    @if ((ViewBag.hasGrid != null) && (ViewBag.hasGrid == true)) { 
        @Styles.Render("~/bundles/gridCSS")
    }
    

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>

    @RenderSection("styles", required: false)
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
                <a class="brand" href="@Url.Action("Index","Home")">Proyectos VIE</a>
                <div class="nav-collapse collapse">
                    <ul class="nav navbar-text pull-right">
                        @Html.Partial("_LoginPartial")
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav">
                             @Html.Partial("_NavPartial")
                        </ul>
                    }
                </div>                
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - B&B Dev ITCR Proyectos VIE</p>
        </footer>
    </div>
    <!-- /container -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrapJS")


    @if ((ViewBag.hasGrid != null) && (ViewBag.hasGrid == true)) { 
        @Scripts.Render("~/bundles/gridJS")
    }

    <script type="text/javascript">
        jQuery.extend(jQuery.validator.methods, {
            required: function (value, element) {
                if (value.length == 0) {
                    $('#' + element.id).parent().parent('.control-group').addClass('error');
                    return false;
                } else {
                    $('#' + element.id).parent().parent('.control-group').removeClass('error');
                    return true;
                }
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
